<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="xir2n35.remidiuts.telkomschid.remidiuts">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Tabbed1Activity"
            android:label="@string/title_activity_tabbed1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Tabbed2Activity"
            android:label="@string/title_activity_tabbed2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Tabbed3Activity"
            android:label="@string/title_activity_tabbed3"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Tabbed4Activity"
            android:label="@string/title_activity_tabbed4"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>